body {
    margin: 0;
}
body::-webkit-scrollbar{
    width: 12px;
    background-color: rgb(17, 17, 17);
}
body::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 16px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* STYLES OF HOME */

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.911);   
    background-image: url(https://images.pexels.com/photos/2066223/pexels-photo-2066223.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
}
.nameContainer{
    width: 460px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.966);
    position: absolute;
    right: 56px;
    top: 80px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameContainer2{
    background-color: rgb(141, 0, 24);
    width: 460px;
    height: 100px;
    position: absolute;
    z-index: 1;
    right: 62px;
    top: 85px;
}
.title{
    margin: 12px 0 16px 32px;
    color: rgb(240, 14, 14);
    font-family: 'Tektur', cursive;
    font-weight: 900;
    font-size: 48px;
}
.title2{
    font-size: 48px;
    margin: 13px 0 16px 40px;
    color: white;
    font-family: 'Tektur', cursive;
    font-weight: 900;
    position: absolute;
}
.i-am-container{
    z-index: 1;
    position: absolute;
    bottom: 40px;
    right: 42px;
    width: 560px;
}
.i-am{
    background-color: rgba(0, 0, 0, 0.425);
    padding: 16px;
    box-sizing: border-box;
}
.i-am p{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 18px;
}
.first{
    display: flex;
    justify-content: flex-end;
}
.imgFont{
    margin: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    translate: -160px;
}   

/* STYLES OF FORM  */
.designsContainer{
    position: relative;
    background-color: black;
    display: flex;
}
.img-girl-tattoo{
    position: absolute;
    top: 64px;
    right: 0;
}
.img-girl-tattoo{
    height: 740px;
}
.tDesigns1{
    font-family: 'Tourney', cursive;
    margin: 64px 0 64px 64px;
    font-size: 64px;
    position: absolute;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 64px rgb(183, 0, 255);
}
.tDesigns2{
    font-family: 'Tourney', cursive;
    margin: 64px 0 64px 64px;
    font-size: 64px;
    position: absolute;
    top: 3px;
    left: 1px;
    text-shadow: 0 0 16px rgb(0, 17, 255);
}
.designsContainer-imgs{
    width: 50%;
    height: auto;
    display: flex;
    margin: 220px 0 0 0;
    overflow: hidden;
    margin-left: 16px;
}
.designsContainer-imgs ul {
    display: flex;
    padding: 0;
    width: 600%;
    animation: slide 16s infinite  ease-in-out;
    
}
.designsContainer-imgs li{
    list-style: none;
    width: 100%;
}
.img-design-1, .img-design-2 ,.img-design-3, .img-design-4, .img-design-5, .img-design-6{
    width: 300px;
}

.img{
    margin: 16px;
    opacity: 60%;
    border: 1px solid black;

    transition: all 0.5s;
}
.img:hover{
    transform: scale(1.08);
    opacity: 100%;
}

.contact-me-container{
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
}
.contact-me{
    width: 90%;
    padding: 12px;
    box-sizing: border-box;
    margin-left: 60px;
    margin-bottom: 32px;
    background-color: rgb(8, 8, 8);
}
.contact-me p{
    font-family: 'Playfair Display', serif;
    margin: 0;
    font-size: 24px;
    color: rgb(104, 104, 104);
}
.p-container{
    background-color: rgb(0, 4, 14);
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;
    padding: 46px;
    box-sizing: border-box
}
.p-container p {
    margin: 0;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.493);
}
.tl-happy-client{
    font-family: 'Tourney', cursive;
    color: white;
    position: relative;
}
.tl-happy-client p{
    font-size: 52px;
    text-shadow: 0 0 30px rgb(183, 0, 255);
    font-weight: 900;
}
.happy-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: black;
    position: relative;
}
.slider-client{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 60px;
}
.slide{
    height: 620px;
    overflow: hidden;
    opacity: 60%;

    transition: all 0.5s;
}
.slide:hover{
    opacity: 100%;
    transform: scale(1.08);
}
.img-cliet-1, .img-cliet-2, .img-cliet-3, .img-cliet-4, .img-cliet-5, .img-cliet-6{
    width: 380px;
    background-size: cover;
    margin: 32px;
}
.form-contact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 8, 19);
}

.form{
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 520px;
    padding: 16px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 1px 1px 32px black;
}
.headerFormContainer{
    display: flex;
    justify-content: center;
    font-weight: 900;
    width: 100%;
}
.headerForm{
    text-align: center;
    margin-bottom: 32px;
    font-size: 26px;
    border-bottom: 1px solid black;
    color: rgb(114, 114, 114);
}
#name, #email{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(66, 66, 66);
    outline: none;
    width: calc(100% - 120px);
    height: 32px;
    padding-left: 32px;
    margin: 0 0 12px 24px;
    color: aliceblue;
    font-weight: 600;
}
#name:focus, #email:focus, #message:focus{
    background-color: black;
    border-bottom: 1px solid rgb(184, 184, 184);

}
.labelMessage{
    font-weight: 600;
    margin: 16px;
    color: rgb(109, 109, 109);
}
#message{
    resize: none;   
    outline: none;
    background-color: black;
    border: 1px solid rgb(131, 131, 131);
    padding: 16px 0 0 16px;
    margin-bottom: 12px;
    margin: 0 8px;
    height: 36px;
    color: white;
    font-weight: 600;
}
.bSubmitContainer{
    display: flex;
    justify-content: center;
}
.bSubmit{
    width: 120px;
    height: 32px;
    margin-top: 16px;
    border: none;
    background-color: rgba(255, 101, 101, 0.548);
    border-radius: 8px;
    font-weight: 900;
    transition: all 0.5s    ;
}
.bSubmit:hover{
    background-color: rgba(211, 0, 0, 0.548);
    cursor: pointer;
    color: azure;
}
.social-networks{
    display: flex;
    margin-top: 16px;
}
.whatsapp, .instagram{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 120px;
    height: 46px;
    border-radius: 8px;
    margin: 16px;

    transition: all 0.5s;
}
.whatsapp:hover{
    box-shadow: 1px 1px 32px green;
    cursor: pointer;
    background-color: greenyellow;
}
.instagram:hover{
    box-shadow: 1px 1px 32px rgb(106, 0, 226);
    cursor: pointer;
    background-color: rgb(255, 119, 210);
}
/* KEYFRAMES */

@keyframes slide {
    0%{margin-left: 0%;}
    50%{margin-left: -180%;}
    100%{margin-left: 0%;}
}
