.iconMobile{
    display: none;
}
.header{
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: black;
    box-shadow: 0 0 32px rgba(0, 63, 100, 0.658);
    user-select: none;
}
.logo h1{
    float: left;
    position: relative;
    width: 260px;
    font-family: var(--font-title);
    font-size: 28px;
    margin-left: 32px;
    letter-spacing: 1px;
}
.spanMaquina{
    position: absolute;
    right: -6px;
    width: 0;
    background-color: black;
    border-left: 1px solid white;
    
    animation: maquina 2s infinite alternate steps(16);
}
.items-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}
.items{
    display: flex;
    margin-right: 64px;
}
.items a{
    margin: 0 16px;
    font-family: var(--font-p);
    font-size: 22px;
    text-decoration: none;
    color: aliceblue;
    padding: 6px;

    transition: all 0.5s;
}
.items a:hover{
    color: black;
    background-color: aliceblue;
}

@keyframes maquina {
    0%{width: 100%;}
    100%{width: 0%;}
}
@media (max-width: 620px){
    .items-container{
        display: none;
    }
    .logo h1{
        font-size: 10px;
        border-bottom: 1px solid white;
        letter-spacing: normal;
        max-width: 260px;
    }
    .spanMaquina{
        animation: none;
        display: none;
        background-color: transparent;
    }
    .iconMobile{
        display: block;
        width: 46px;
        margin: 0;
        opacity: 80%;
        position: fixed;
        z-index: 3;
        top: 16px;
        right: 16px;
    }
    .header{
        box-shadow: none;
    }
}
@media (max-width: 820px){
    .spanMaquina{
        animation: none;
        display: none;
    }
    .logo h1{
        margin-left: 0;
        font-size: 26px;
        animation: none;
        border-bottom: 1px solid white;
        letter-spacing: normal;
    }
    .items{
        margin-right: 30px;
    }
    .items a{
        padding: 0;
    }
}